.list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.listItem {
  display: flex;
  position: relative;
  min-width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1.5px solid #fafafa;
  border-radius: 4px;
  padding: 10px;
  gap: 10px;
}
